{% extends 'header.html' %}
<head>
  {% block title %}Llamadas{% endblock %}
</head>

{% block content %}
<br>
<h2 class="main_titles">Lista de llamadas</h2>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <form class="d-flex" role="search" method="get" action="{% url 'all_calls' %}">
        <input class="form-control me-2" type="search" placeholder="Nombre de Cliente" aria-label="Search" name="customer_search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
      <a href="{% url 'all_calls' %}"><button type="button" class="btn btn-info">Refrescar</button></a>
      <a href="{% url 'new_call_history' %}"><button type="button" class="btn btn-outline-primary">Nueva Llamada</button></a>
    </div>
  </nav>

<br>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Cliente</th>
        <th scope="col">Descripcion</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for call in calls %}
        <tr>
            <td>{{ call.date|date:"d/m/Y" }}</td>
            <td>{{ call.customer_id.name }}</td>
            <td>{{ call.description }}</td>
            <td><a href="{% url 'update_call_history' call.id %}"><button type="button" class="btn btn-outline-success">Detalles</button></a></td>
            <td><a href="{% url 'delete_call_history' call.id %}"><button type="button" class="btn btn-outline-danger">Eliminar</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}