{% extends 'header.html' %}
<head>
  {% block title %}Inicio{% endblock %}
</head>

{% block content %}
<h1 class="main_titles">Base de Datos Multiservice</h1>
<h2>Partes:</h2>
<h3>Clientes</h3>
<p>Aqui se guarda los clientes del Local</p>
<ul>
  <li>Nombre</li>
  <li>Telefono</li>
</ul>
<h3>Presupuestos</h3>
<p>Aqui se guarda los presupuestos (productos que ingresan por 1ra vez) del Local</p>
<ul>
  <li>Numero de Presupuesto</li>
  <li>Cliente (Se requiere haber cargado el cliente anteriormente)</li>
  <li>Producto (Electrodomestico)</li>
  <li>Marca del Producto</li>
  <li>Modelo del Producto</li>
  <li>Numero de Serie del Producto</li>
  <li>Falla</li>
  <li>3 Imagenes Opcionales (Se Recomienda Subir 1 Imagen)</li>
  <li>Descripcion</li>
  <li>Entregado (Si el producto se encuentra en el local. SI/NO)</li>
</ul>
<h3>Garantias</h3>
<p>Aqui se guarda los presupuestos que ya han sido retirados pero que ingresaron de nuevo</p>
<li>Numero de Presupuesto</li>
<li>Descripcion</li>
<li>Entregado (Si el producto se encuentra en el local. SI/NO)</li>
<h3>Retirados</h3>
<p>Aqui se guarda los presupuestos que se entregan.</p>
<li>Numero de Presupuesto</li>
<li>Fecha</li>
<li>Entregado (Si el producto se encuentra en el local. SI/NO)</li>
<li>Precio de la reparacion</li>
<li>Numero de Factura (en caso de poseer)</li>
<h3>Llamadas</h3>
<p>Aqui se guarda las llamadas o mensajes (de clientes) que se reciben</p>
<li>Cliente</li>
<li>Fecha</li>
<li>Descripcion</li>
<br>

{% endblock %}
