{% extends 'header.html' %}
<head>
  {% block title %}P.Entregados{% endblock %}
</head>

{% block content %}
<h2 class="main_titles">Registrar nueva salida</h2>
<br>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Fecha</label>
      <input type="date" class="form-control" aria-describedby="emailHelp" name="date" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Precio de Reparacion</label>
      <input type="number" class="form-control" aria-describedby="emailHelp" name="price" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Factura</label>
      <input type="text" class="form-control" aria-describedby="emailHelp" name="invoice">
    </div>

    <div class="mb-3">
        <label class="form-label">Presupuesto</label>
        <select name="ticket_id" required>
          {% for ticket in tickets %}
            <option value="{{ ticket.id }}">{{ ticket.ticket_number }}</option>
          {% endfor %}
        </select>
      </div>
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>

  {% endblock %}