{% extends 'header.html' %}
<head>
  {% block title %}Clientes{% endblock %}
</head>

{% block content %}
<h2 class="main_titles">Crear un Nuevo Cliente</h2>
<br>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" aria-describedby="emailHelp" name="name" >
      <div class="form-text">Introducir Nombre Completo (Persona o Empresa)</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Telefono</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="telephone_number">
        <div class="form-text">Introducir Telefono o Celular</div>
      </div>
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>

  {% endblock %}