{% extends 'header.html' %}
<head>
  {% block title %}Presupuestos{% endblock %}
</head>

{% block content %}
<br>
<h2 style="text-align: center;">Lista de Presupuestos</h2>
<a href="{% url 'new_ticket' %}"><button type="button" class="btn btn-outline-primary">Crear Nuevo Presupuesto</button></a>
<br>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Cliente</th>
        <th scope="col">Producto</th>
        <th scope="col">Falla</th>
        <th scope="col">Foto</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.ticket_number }}</td>
            <td>{{ ticket.customer_id.name }}</td>
            <td>{{ ticket.product }} - {{ ticket.trademark }}</td>
            <td>{{ ticket.failure }}</td>
            <td><img src="/media/{{ ticket.product_image1 }}" alt="Foto del Producto" style="max-width: 200px; max-height: 200px;"></td>
            <td><a href="# "><button type="button" class="btn btn-outline-success">Detalles</button></a></td>
            <td><a href="#"><button type="button" class="btn btn-outline-danger">Eliminar</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
