{% extends 'header.html' %}
<head>
  {% block title %}Presupuestos{% endblock %}
</head>

{% block content %}
<br>
<h2 class="main_titles">Lista de Presupuestos</h2>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search" method="get" action="{% url 'all_tickets' %}">
      <input class="form-control me-2" type="search" placeholder="Numero de Presupuesto" aria-label="Search" name="ticket_search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <a href="{% url 'all_tickets' %}"><button type="button" class="btn btn-info">Refrescar</button></a>
    <a href="{% url 'new_ticket' %}"><button type="button" class="btn btn-outline-primary">Nuevo Presupuesto</button></a>
  </div>
</nav>

<br>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Cliente</th>
        <th scope="col">Producto</th>
        <th scope="col">Falla</th>
        <th scope="col">Foto</th>
        <th scope="col">Entregado</th>
        <th scope="col"></th>
        
      </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.ticket_number }}</td>
            <td>{{ ticket.customer_id.name }}</td>
            <td>{{ ticket.product }} - {{ ticket.trademark }}</td>
            <td>{{ ticket.failure }}</td>
            <td><img src="/media/{{ ticket.product_image1 }}" alt="Foto del Producto" style="max-width: 200px; max-height: 200px;"></td>
            {% if ticket.local == 1 %}
              <td>No</td>
            {% else %}
              <td>Si</td>
            {% endif %}
            <td><a href="{% url 'update_ticket' ticket.id %}"><button type="button" class="btn btn-outline-success">Detalles</button></a></td>
            <td><a href="{% url 'delete_ticket' ticket.id %}"><button type="button" class="btn btn-outline-danger">Eliminar</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
