{% extends 'header.html' %}
<head>
  {% block title %}Garantias{% endblock %}
</head>

{% block content %}
<h2 class="main_titles">Garantia N° {{ warranty_product.ticket_id.ticket_number }}</h2>
<br>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Fecha</label>
      <input type="date" class="form-control" aria-describedby="emailHelp" name="date" value="{{ warranty_product.ticket_id.date|date:'Y-m-d'}}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Ticket</label>
        <select name="ticket_id" required>
          {% for ticket in tickets %}
            {% if warranty_product.ticket_id.id == ticket.id %}
                <option value="{{ warranty_product.ticket_id.id }}" selected>{{ warranty_product.ticket_id.ticket_number }}</option>
            {% else %}
                <option value="{{ ticket.id }}">{{ ticket.ticket_number }}</option>
            {% endif %}
           
          {% endfor %}
        </select>
      </div>

    <div class="mb-3">
        <label  class="form-label">Descripcion</label>
        <textarea type="text" class="form-control"  aria-describedby="emailHelp" name="description" cols="30" rows="10">{{ warranty_product.description }}</textarea>
      </div>
    
    <div class="mb-3 form-check">
        {% if warranty_product.local == 1 %}
          <input type="checkbox" class="form-check-input" id="exampleCheck1" value=0 name="local">
        {% else %}
          <input type="checkbox" class="form-check-input" id="exampleCheck1" value=1 name="local" checked >
        {% endif %}
        
        <label class="form-check-label" >Entregado</label>
      </div>
    <button type="submit" class="btn btn-primary">Modificar</button>
  </form>

  {% endblock %}