{% extends 'header.html' %}
<head>
  {% block title %}Clientes{% endblock %}
</head>

{% block content %}
<h2 class="main_titles">{{ customer.name }}</h2>
{% if tickets %}
<h3>PRESUPUESTOS:</h3>
<br>
{% for ticket in tickets %}
    <h4>N° {{ ticket.ticket_number }}</h4>
    <ul>
      <li>PRODUCTO: {{ ticket.product }}</li>
      <li>MODELO: {{ ticket.trademark }} - {{ ticket.version }}</li>
      <li>NUMERO DE SERIE: {{ ticket.serial_number }}</li>
      <li>FALLA: {{ ticket.failure }}</li>
    </ul>
{% endfor %}
{% endif %}
<br>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" aria-describedby="emailHelp" name="name" value="{{ customer.name }}" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Telefono o Celular</label>
        <input type="number" class="form-control"  aria-describedby="emailHelp" name="telephone_number" value="{{ customer.telephone_number }}" required>
        <div class="form-text">Introducir Telefono o Celular</div>
      </div>

    <div class="mb-3">
        <label class="form-label">Telefono o Celular Alternativo</label>
        <input type="number" class="form-control"  aria-describedby="emailHelp" name="telephone_number2" value="{{ customer.telephone_number2 }}">
        <div class="form-text">Introducir Telefono o Celular (Opcional). Si no posee ninguno, ponga el numero 0</div>
      </div>
      
    <button type="submit" class="btn btn-primary">Modificar</button>
  </form>

  {% endblock %}