{% extends 'header.html' %}
<head>
  {% block title %}Clientes{% endblock %}
</head>

{% block content %}
<h2 style="text-align: center;">{{ customer.name }}</h2>
<h3>PRESUPUESTOS:</h3>
<br>
{% for ticket in tickets %}
    <h4>{{ ticket.ticket_number }}</h4>
    
{% endfor %}
<br>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
      <div id="emailHelp" class="form-text">Introducir Nombre Completo (Persona o Empresa)</div>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Telefono</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="telephone_number">
        <div id="emailHelp" class="form-text">Introducir Telefono o Celular</div>
      </div>
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>

  {% endblock %}